/* Fondo oscuro semitransparente */
.app-loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro */
    z-index: 9998; /* Debe estar debajo del loader */
  }
  
  /* Centrado del loader */
  .app-loader-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Asegurarse de que esté encima del fondo oscuro */
  }
  